{% extends 'main.html' %}
{% load static %}

{% block content %}

  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      
      {% include 'base/topics_component.html' %}

      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.name}}</h3>
            <p>@{{user.username}}</p>
            {% if request.user == user%}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{user.bio}}
            </p>
          </div>
          {% if user.url_fb or user.url_insta or user.url_linkedin or user.url_git %}
          <div class="profile__about">
            <h3>Connect with your host</h3>
            <p>
              {% if user.url_fb %}
              <div class="fa">
              <a href="{{user.url_fb}}"> 
                  <img src="{% static 'images/icons/iconFb.png' %}" />
              </a>
              </div>
              {% endif %}

              
              {% if user.url_insta %}
              <div class="fa">
                <a href="{{user.url_insta}}">
                  <img src="{% static 'images/icons/iconInsta.png' %}" />
                </a>
              </div>
              {% endif %}

              
              {% if user.url_linkedin %}
              <div class="fa">
                <a href="{{user.url_linkedin}}">
                  <img src="{% static 'images/icons/iconLinkedin.png' %}" />
                </a>
              </div>
              {% endif %}

              {% if user.url_git %}
              <div class="fa">
                <a href="{{user.url_git}}">
                  <img src="{% static 'images/icons/iconGit.png' %}" />
                </a>
              </div>
              {% endif %}
              
            </p>
          </div>
          {% endif %}
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{user.name}} : {{rooms.count}} </a>
            </h2>
          </div>
        </div>
        
        {% include 'base/feed_component.html' %}
        
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      
      {% include 'base/activity_component.html' %}

      <!-- Activities End -->
    </div>
  </main>

{% endblock content %}